# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/tmp
/out

# Misc
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
.cursor
*.log
*.tgz
*.tsbuildinfo
.eslintcache